.container{
    display: grid;
    margin-top: 5%;
    //grid-auto-columns: 20%;
    grid-template-columns: repeat(4,24%);
    grid-auto-rows: max-content;
    //grid-auto-flow: column;
    width: 80%;
    gap: 10px;
    align-self: center;
    justify-self: center;
    //height: 100vh;

    p{
        font-size: 0.7em;
        margin: 0;
    }

    h2{
        margin:0;
    }
}