.container{
    p{
        //text-align: center;
        margin: 0;
        font-size: 0.7em;
        color: #eee;
    }
    .input{
        border-radius: 10px;
        border: none;
        padding: 7px;
    }
}